*.suo
*.tlog
*.obj
*.pdb
*.log
*.idb
*.exe
*.ilk
*.ipch
*.lib
*.db-shm
*.db-wal
*.db
*.opendb
*.dll
*.exp
*.txt
*.stl
*.iobj
*.ipdb
*.htm
*.bin
*.res
.vs/
bin/
Resources/
packages/
3rdparty/
*My Advisor Results*
Leviathan.sln.DotSettings
 