
*.suo
*.tlog
*.obj
*.pdb
*.log
*.idb
*.exe
*.ilk
*.ipch
*.lib
*.db-shm
*.db-wal
*.db
*.opendb
*.db
*.opendb
*.db
*.db
*.dll
*.exp
*.db
*.txt
*.stl
*.iobj
*.ipdb
*.db
.vs/Leviathan/v15/.suo
.vs/Leviathan/v15/.suo
.vs/Leviathan/v15/Browse.VC.db
*.htm
3rdparty/*
*.bin
*.bin
*.res
